CREATE TABLE IF NOT EXISTS imagens_produtos (id UUID DEFAULT uuid_generate_v4() PRIMARY KEY, produto_id UUID REFERENCES produtos(id) ON DELETE CASCADE, imagem_url TEXT NOT NULL, created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()));
